@media only screen and (max-width: 575.98px) {
  .container{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .image-gallery{
    .row{
      div{
        a{
          img{
            width: 100%;
            padding-left: 0rem;
            padding-right: 0rem;
          }
        }
      }
    }
  }


}

@media only screen and (min-width: $small-laptop) {

  //Navbar
  .navbar{
    .desktop-logo{margin: initial;}
    .mobile-logo{display: none;}
    .select-page{display: none;}
    #navbar-dropdown{
      border: 1px solid white;
      height: inherit;
      ul{
        border: 1px solid red;
        height: inherit;
        overflow: visible;
        width: auto;
        li{
          border: none;
          a{
            margin: 0rem;
            padding: 0rem;
          }
        }
        .lazy-dev{border-top: none;}
      }
    }
  }





  #subtitle{
    div{
      p{
        padding-bottom: 0rem;
        padding-top: 0rem;
      }
    }
  }
  .steam-link{
    iframe{
      width: 70rem;
    }
  }
}
